:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --title-text-color: #000000;
  --white-text-color: #ffffff;
  --background-accent-color: #2f303a;
  --team-background-color: #f5f4fa;
  --footer-email-tel-color: rgba(255, 255, 255, 0.6);
}
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
/* забираємо точки списків */
.list {
  list-style: none;
}

/* забираємо підкреслення силок */
.link {
  text-decoration: none;
}
/* прихований текст */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Стилізація шапки */
/* Стилізація героя */
/* Особливості */
/* Чим ми займаємось */
/* Наша команда */
/* Підвал */

/* ----------------Портфоліо--------------------- */
